* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}


/* body
{
    background-color: blueviolet !important;
} */
.homeBtn {
  font-size: xx-large !important;
  border-radius: 80px !important;
  padding: 50px !important;
  border: none !important;
  margin: 20px !important;
  transition: 500ms;
}
#mainDiv {
  width: 100%;
  height: 100vh;
  background: #3b4c8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*start*/
.container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: #3b4c8b;
  }
  
  .menu ul {
    display: inline-flex;
    margin: 50px;
  }
  
  .menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #fffdfd;
    cursor: pointer;
  }
  
  .logo {
    margin-top: -40px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#ffdc62, #ffdc62),
      radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  .logo span {
    display: block;
    padding: 8px 22px;
    font-size: 25px;
    color: #4257b2;
  }
  
  .login-btn {
    top: 40px;
    right: 300px;
    position: absolute;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#4257b2, #4257b2),
      radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  .login-btn span {
    display: block;
    padding: 8px 22px;
    font-size: 25px;
  }
  
  .register-btn {
    top: 40px;
    right: 100px;
    position: absolute;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#ffdc62, #ffdc62),
      radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  .register-btn span {
    display: block;
    padding: 8px 22px;
    color: rgb(24, 8, 235);
    font-size: 25px;
  }
  
  .start {
    background-color: #1e90ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .startBtn,
  .adminBtn {
    font-size: xx-large !important;
    border-radius: 20px !important;
    padding: 10px 40px 10px 40px !important;
    border: none !important;
    margin-top: 10px !important;
    transition: 500ms;
    background-color: #ffdc62 !important;
    color: rgb(24, 8, 235);
  }
  
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
  }
  
  .nameGame {
    font-weight: 600;
    font-size: 55px;
    color: rgb(255, 255, 255);
  }
  
  .ruleGameTitle {
    font-size: 35px;
    color: rgb(255, 255, 255);
  }
  
  .ruleGameSub {
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-size: 25px;
  }
  
  .ruleGameSub li {
    padding: 5px;
  }

/**/
#mainBody {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
#quiz,
#panelInner {
  width: 800px;
  height: 400px;
  background-color: #fff;
  display: grid;
  grid-template-rows: 60px auto;
  border-radius: 30px;
}
#panelInner {
  height: 650px;
  width: 1200px;
  grid-template-rows: 60px auto 62px;
}
#loader {
  width: 100px;
  height: 100px;
}
#loaderDiv {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 13;
  background-color: rgba(255, 255, 255, 0.3);
}
#quizHeader,
#header,
#addBtnDiv {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#quizHeader {
  width: 800px;
}
#header {
  justify-content: center;
}
#quizBody {
  background-color: rgb(211, 209, 209);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 20px;
}
#timer {
  color: white;
  padding: 18px;
  background-color: #4257b2;
  margin-right: -20px;
  border-top-right-radius: 27px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.option_group {
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}

.option,
.optionPanel {
  border: 3px solid transparent;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  margin: 10px 10px 10px 0;
  min-height: 42px;
  transition: 500ms;
}
.option:hover {
  cursor: pointer;
  border: 3px solid rgb(130, 18, 182);
}
.nxtBtn,
.rstBtn {
  background-color: #4257b2 !important;
  border-radius: 50px !important;
  padding: 15px !important;
  border: none !important;
  float: right;
}
.active {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  margin: 10px 10px 10px 0;
  color: white;
  background-color: rgb(130, 18, 182);
  border: 3px solid rgb(130, 18, 182);
  transition: 500ms;
}
.exitBtn {
  border-radius: 50px !important;
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  font-size: xx-large !important;
  background: #4257b2;
}
.nxtBtn:focus,
.exitBtn:focus,
.rstBtn:focus,
.startBtn:focus,
.adminBtn:focus,
.homeBtn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.nxtBtn:hover,
.exitBtn:hover,
.rstBtn:hover,
.startBtn:hover,
.adminBtn:hover,
.homeBtn:hover {
  background-color: white !important;
  color: black !important;
  transition: 500ms;
}
/* =================Admin Panel================ */
#mainPanel {
  min-width: 300px;
  min-height: 650px;
  justify-content: center;
  align-items: center;
}
#questionsBody {
  background-color: rgb(211, 209, 209);
  padding: 10px 20px;
  overflow-y: auto; /*when we'll add questions then scroll bar will be needed*/
}
#delAllBtn,
#addBtn {
  border-radius: 50%;
  font-size: 30px;
  padding: 8px 18px;
  margin: 1px 30px;
}
#addBtnDiv {
  height: 65px;
  justify-content: center;
  box-shadow: 0 -2px 5px 1px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.homeBtn {
  left: 70%;
  position: fixed;
  top: 40vh;
  padding: 30px 50px !important;
}
.panelLi {
  display: flex;
  flex-wrap: wrap;
  min-height: 42px;
  align-items: center;
  margin: 10px;
}
.liBtnAdd,
.liBtnCancel,
.liBtn {
  font-size: 25px !important;
  border-radius: 50% !important;
  padding: 5px 13px !important;
  margin: 0 20px;
  max-height: 50px;
}
.liBtnAdd {
  padding: 6px 13px 5px 13px !important;
}
.liBtnCancel {
  padding: 6px 13px 13px 13px !important;
}